# Compiled Python modules
*.pyc
*.so
*.pyd

# Bad large data
output/*
askcos_site/static/admin/*

# artfacts from using JupyterLab
*ipynb_checkpoints*

# ignore SSL key
deploy/askcos.ssl.cert
deploy/askcos.ssl.key

# ignore pycharm folder
.idea/

